body {
    background: #376c6ca2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#alice-container {
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-areas:
        "a1 . ."

        ". a2 ."

        ". . a3";

    overflow: visible;

}

#alice1 {
    grid-area: a1;
}

#alice2 {
    grid-area: a2;
}

#alice3 {
    grid-area: a3;
}

#alice-container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}